body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: 44px;
  line-height: 65px;
}
h2 {
  font-size: 34px;
  line-height: 48px;
}
h3 {
  font-size: 24px;
  line-height: 37px;
}
h4 {
  font-size: 19px;
  line-height: 26px;
}
h5 {
  font-size: 14px;
  line-height: 19px;
}
button {
  border: 1px solid #00BBFD;
  background-color: #FFFFFF;
  padding: 10px 15px 10px 15px;
  font-weight: 600;
}
nav {
  color: #FFFFFF;
}
footer {
  color: #FFFFFF;
  background-color: #222222;
  font-weight: 600;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  list-style: none;
}
footer .footer-below {
  font-size: 14px;
  line-height: 25px;
}
footer .footer-below .row {
  padding: 15px 0 15px 0;
  border-top: 1px solid #757D8C;
  font-weight: 600;
}
footer a:link,
footer a:visited,
footer a:focus,
footer a:hover,
footer a:active {
  color: #FFFFFF;
}
#welcome {
  text-align: center;
  background: url('../assets/image-principal.png') center no-repeat;
  color: white;
}
#welcome .next-button span {
  display: block;
  width: 48px;
  height: 48px;
}
a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section#contact-us {
  background: #F3FCFF;
}
section#contact-us #img-contact-us {
  background: url('../assets/atendimento.png') center center no-repeat;
  background-size: auto 100%;
  width: 776px;
  height: 387px;
  margin-right: auto;
  margin-left: auto;
}
section#faq ul {
  padding-left: 0;
}
section#faq ul li {
  list-style-type: none;
  padding-bottom: 15px;
}
section#faq ul li a {
  color: #000000;
}
section#for-messengers {
  background-color: #F3FCFF;
}
section#for-messengers #messenger-section-title {
  margin-bottom: 15px;
}
section#for-messengers #messenger-section-button {
  margin-bottom: 50px;
}
#img-messenger {
  background: url('../assets/mensageiro-lateral.png') center no-repeat;
  background-size: auto 100%;
  width: 653px;
  height: 423px;
  margin-right: auto;
  margin-left: auto;
}
.ul-horizontal li {
  display: inline;
}
.footer-icons li {
  margin-right: 10px;
}
.next-button {
  background: url('../assets/seta.png');
  width: 48px;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFFFFF;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFFFFF;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #FFFFFF;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #FFFFFF;
}
@media (max-width: 767px) {
  h1 {
    font-size: 34px;
    line-height: 45px;
  }
  h2 {
    font-size: 29px;
    line-height: 39px;
  }
  h3 {
    font-size: 19px;
    line-height: 34px;
  }
  h4 {
    font-size: 14px;
    line-height: 26px;
  }
  h5 {
    font-size: 9px;
    line-height: 19px;
  }
  section {
    padding-top: 50px;
  }
  .container-fluid > .row {
    margin-right: 0;
    margin-left: 0;
  }
  #mainNav {
    color: #000000;
    height: 60px;
    margin-right: 0;
    margin-left: 0;
  }
  #mainNav a {
    font-weight: 600;
  }
  #mainNav a:link,
  #mainNav a:hover,
  #mainNav a:focus,
  #mainNav a:active,
  #mainNav a:visited {
    color: #000000;
  }
  #mainNav li > a {
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
  }
  #mainNav li > a:link,
  #mainNav li > a:hover,
  #mainNav li > a:focus,
  #mainNav li > a:active,
  #mainNav li > a:visited {
    color: #000000;
  }
  #mainNav li.active > a:link,
  #mainNav li.active > a:hover,
  #mainNav li.active > a:focus,
  #mainNav li.active > a:active,
  #mainNav li.active > a:visited {
    color: #000000;
    border-bottom: 2px solid #00BBFD;
  }
  #mainNav #navbar-header-top {
    height: 60px;
    background-color: #FFFFFF;
  }
  #mainNav #icon-menu {
    display: block;
    padding: 0 0 0 35px;
    background: url('../assets/menu.png') center no-repeat;
    width: 24px;
    height: 19px;
  }
  #mainNav .navbar-toggle {
    border: 0;
    margin: 10px 10px 0 10px;
  }
  #mainNav .navbar-brand {
    width: 92px;
    height: 31px;
    padding: 15px 0;
  }
  #mainNav .navbar-brand span {
    display: block;
    background: url('../assets/logo.png') center no-repeat;
    width: 92px;
    height: 31px;
  }
  #mainNav .rightmost-button {
    margin: 20px 30px 0;
  }
  #mainNav .rightmost-button #icon-close {
    display: block;
    background: url('../assets/sair.png') center no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
  #mainNav input[type='text'] {
    width: 100%;
    height: 60px;
    background: url('../assets/search.png') no-repeat scroll 25px 20px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #D0DDE9;
    padding-left: 50px;
  }
  #welcome {
    background: url('../assets/image-principal-mobile.png') center no-repeat;
    background-size: 100% auto;
    margin-top: 115px;
    padding-top: 0;
  }
  #welcome h1 {
    font-weight: 400;
  }
  #welcome .hidden-xs {
    height: 0;
  }
  #welcome .next-button {
    margin: 80px auto 50px auto;
    margin-left: auto;
    margin-right: auto;
  }
  #img-contact-us {
    margin-top: 50px;
  }
  section#faq {
    padding-bottom: 50px;
  }
  section#faq button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section#faq .col-md-4 {
    border-bottom: 1px solid #D0DDE9;
    padding-bottom: 30px;
  }
  footer {
    line-height: 19px;
    text-align: center;
  }
  footer .footer-above {
    padding-top: 25px;
  }
  footer .footer-above ul {
    padding-bottom: 25px;
  }
  footer .footer-above ul li {
    margin: 5px 0 5px 0;
  }
  footer .footer-above h5 {
    font-size: 14px;
  }
  footer .footer-above .footer-icons li {
    margin-right: 15px;
  }
  footer .footer-below {
    float: none;
  }
  footer .footer-below span {
    display: block;
  }
}
@media (min-width: 768px) {
  #mainNav {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #navbar-header-top {
    padding: 10px 0 10px 0;
  }
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-inner {
    text-align: center;
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    padding-left: 20px;
  }
  .navbar-nav .leftmost {
    margin-left: 1em;
  }
  .navbar-links {
    margin-left: -155px;
  }
  .navbar-login {
    position: static;
    margin-top: -50px;
  }
  .navbar-login button {
    margin-top: 4px;
  }
  .navbar-custom {
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom a:focus {
    outline: none;
  }
  .navbar-custom .navbar-brand {
    width: 92px;
    height: 31px;
    color: white;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus,
  .navbar-custom .navbar-brand:active,
  .navbar-custom .navbar-brand.active {
    color: white;
  }
  .navbar-custom .navbar-brand span {
    display: block;
    background: url('../assets/logo-white.png') center no-repeat;
    width: 92px;
    height: 31px;
    margin-top: -15px;
  }
  .navbar-custom .navbar-nav {
    text-align: center;
    float: none;
  }
  .navbar-custom .navbar-nav li > a {
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-custom .navbar-nav li > a:link,
  .navbar-custom .navbar-nav li > a:hover,
  .navbar-custom .navbar-nav li > a:focus,
  .navbar-custom .navbar-nav li > a:active,
  .navbar-custom .navbar-nav li > a:visited {
    color: #FFFFFF;
  }
  .navbar-custom .navbar-nav li.active > a:link,
  .navbar-custom .navbar-nav li.active > a:hover,
  .navbar-custom .navbar-nav li.active > a:focus,
  .navbar-custom .navbar-nav li.active > a:active,
  .navbar-custom .navbar-nav li.active > a:visited {
    color: #FFFFFF;
    background: transparent;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-custom .navbar-nav button {
    border: 1px solid #FFFFFF;
    background: transparent;
    width: 100px;
  }
  .navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
  }
  .navbar-custom .navbar-toggle:hover,
  .navbar-custom .navbar-toggle:focus {
    background-color: #18BC9C;
    color: white;
    border-color: #18BC9C;
  }
  .navbar-custom .arrow-up {
    margin: 0 0 0 20px;
  }
  .navbar-custom .dropdown a.dropdown-toggle:link,
  .navbar-custom .dropdown a.dropdown-toggle:visited,
  .navbar-custom .dropdown a.dropdown-toggle:active,
  .navbar-custom .dropdown a.dropdown-toggle:hover {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
  }
  .navbar-custom .dropdown .dropdown-menu {
    border: 0;
    box-shadow: 0;
    border-radius: 0;
    margin: 0 0 0 -30px;
    padding: 0;
  }
  .navbar-custom .dropdown .dropdown-menu > li {
    height: 1em;
    display: block;
    padding: 20px;
  }
  .navbar-custom .dropdown .dropdown-menu > li > a {
    height: 1em;
  }
  .navbar-custom .dropdown .dropdown-menu > li > a:link,
  .navbar-custom .dropdown .dropdown-menu > li > a:visited,
  .navbar-custom .dropdown .dropdown-menu > li > a:active {
    color: #000000;
    background-color: transparent;
    text-align: center;
    height: 1em;
    line-height: 0;
    padding: 0;
  }
  .navbar-custom .dropdown .dropdown-menu > li:hover {
    background-color: #00BBFD;
  }
  .navbar-custom .dropdown .dropdown-menu > li:hover > a {
    color: #FFFFFF;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  #welcome {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  #welcome .container {
    padding-top: 300px;
    padding-bottom: 100px;
  }
  #welcome .next-button {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  #welcome .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  #welcome .welcome-text {
    padding-bottom: 30px;
  }
  #welcome input[type='text'] {
    width: 50%;
    height: 50px;
    background: url('../assets/search.png') no-repeat scroll 18px 15px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding-left: 50px;
  }
  #welcome #contact-number {
    margin-top: 20px;
  }
  .affix {
    background-color: #FFFFFF;
  }
  .affix .navbar-brand span {
    display: block;
    background: url('../assets/logo.png') center no-repeat;
    width: 92px;
    height: 31px;
  }
  .affix .navbar-nav li > a {
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
  }
  .affix .navbar-nav li > a:link,
  .affix .navbar-nav li > a:hover,
  .affix .navbar-nav li > a:focus,
  .affix .navbar-nav li > a:active,
  .affix .navbar-nav li > a:visited {
    color: #000000;
  }
  .affix .navbar-nav li.active > a:link,
  .affix .navbar-nav li.active > a:hover,
  .affix .navbar-nav li.active > a:focus,
  .affix .navbar-nav li.active > a:active,
  .affix .navbar-nav li.active > a:visited {
    color: #000000;
    background: transparent;
    border-bottom: 2px solid #00BBFD;
  }
  .affix .navbar-nav button {
    color: #000000;
    border: 1px solid #00BBFD;
    background: transparent;
    width: 100px;
  }
  section {
    padding-top: 100px;
  }
  section#contact-us {
    padding-top: 100px;
  }
  section#contact-us .row {
    margin-bottom: 70px;
  }
  section#faq {
    padding: 100px 0 100px 0;
  }
  section#faq .faq-row2 {
    margin-top: 60px;
  }
  footer h5 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
  }
  footer .footer-above {
    padding: 80px 0 80px 0;
  }
  footer .footer-below {
    font-size: 14px;
    line-height: 25px;
  }
  footer .footer-below .row {
    padding: 15px 0 15px 0;
    border-top: 1px solid #757D8C;
    font-weight: 600;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-width: 768px) {
  #img-messenger {
    background: url('../assets/mensageiro-lateral_2x.png') center no-repeat;
    background-size: 100% auto;
  }
  #img-contact-us {
    background: url('../assets/atendimento_2x.png') center no-repeat;
  }
  .navbar-brand span {
    background: url('../assets/logo-white_2x.png') center no-repeat;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (max-width: 767px) {
  #mainNav .navbar-header-top {
    height: 60px;
  }
  #mainNav .navbar-toggle:link,
  #mainNav .navbar-toggle:hover,
  #mainNav .navbar-toggle:focus,
  #mainNav .navbar-toggle:active,
  #mainNav .navbar-toggle:visited {
    background-color: transparent;
  }
  #mainNav .navbar-brand span {
    display: block;
    background: url('../assets/logo_2x.png') center no-repeat;
    background-size: 92px 31px;
    width: 92px;
    height: 31px;
  }
  #mainNav #search-bar,
  #mainNav #login-bar {
    height: 60px;
    background-color: #FFFFFF;
  }
  #mainNav #login-bar {
    border-top: 1px solid #D0DDE9;
    padding-top: 10px;
  }
  #mainNav #login-bar .container a {
    height: 40px;
    line-height: 40px;
  }
  #mainNav .navbar-collapse {
    background-color: #FFFFFF;
  }
  #mainNav .navbar-collapse .navbar-links {
    margin-top: 0;
    vertical-align: middle;
  }
  #mainNav .navbar-collapse .navbar-links li {
    border-bottom: 1px solid #D0DDE9;
    padding-left: 20px;
    height: 60px;
  }
  #mainNav .navbar-collapse .navbar-links li > a:link,
  #mainNav .navbar-collapse .navbar-links li > a:hover,
  #mainNav .navbar-collapse .navbar-links li > a:focus,
  #mainNav .navbar-collapse .navbar-links li > a:active,
  #mainNav .navbar-collapse .navbar-links li > a:visited {
    color: #9FABBB;
    font-size: 19px;
  }
  #mainNav .navbar-collapse .navbar-links li > a span {
    vertical-align: middle;
  }
  #mainNav .navbar-collapse .navbar-links li > div {
    color: #9FABBB;
    font-size: 19px;
    font-weight: 600;
    display: table;
    height: inherit;
  }
  #mainNav .navbar-collapse .navbar-links li > div span {
    display: table-cell;
    vertical-align: middle;
  }
  #mainNav .navbar-collapse .navbar-links li.active {
    background-color: #00BBFD;
  }
  #mainNav .navbar-collapse .navbar-links li.active > a:link,
  #mainNav .navbar-collapse .navbar-links li.active > a:hover,
  #mainNav .navbar-collapse .navbar-links li.active > a:focus,
  #mainNav .navbar-collapse .navbar-links li.active > a:active,
  #mainNav .navbar-collapse .navbar-links li.active > a:visited {
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
  }
  #mainNav .navbar-collapse .navbar-links li.active span {
    vertical-align: middle;
  }
  #mainNav .navbar-collapse .navbar-links li.sub-list > a {
    font-size: 14px;
    padding-left: 52px;
    display: table;
    height: inherit;
  }
  #mainNav .navbar-collapse .navbar-links li.sub-list span {
    vertical-align: middle;
    display: table-cell;
  }
  #mainNav .navbar-collapse #icon-home {
    display: table-cell;
    background: url('../assets/menu-store.png') left no-repeat;
    width: 50px;
    height: 30px;
  }
  #mainNav .navbar-collapse .active #icon-home {
    background: url('../assets/menu-store-active.png') left no-repeat;
  }
  #mainNav .navbar-collapse #icon-about {
    display: table-cell;
    background: url('../assets/menu-coelho.png') left no-repeat;
    width: 50px;
    height: 39px;
  }
  #mainNav .navbar-collapse .active #icon-about {
    background: url('../assets/menu-coelho-active.png') left no-repeat;
  }
  #mainNav .navbar-collapse #icon-clients {
    display: table-cell;
    background: url('../assets/menu-clientes.png') left no-repeat;
    width: 50px;
    height: 40px;
  }
  #mainNav .navbar-collapse .active #icon-clients {
    background: url('../assets/menu-clientes-active.png') left no-repeat;
  }
  #mainNav .navbar-collapse #icon-messengers {
    display: table-cell;
    background: url('../assets/menu-mensageiro.png') left no-repeat;
    width: 50px;
    height: 37px;
  }
  #mainNav .navbar-collapse .active #icon-messengers {
    background: url('../assets/menu-mensageiro-active.png') left no-repeat;
  }
  .rightmost-button {
    margin: 20px 20px 0;
  }
  .rightmost-button #icon-close {
    background: url('../assets/sair_2x.png') center no-repeat;
    width: 18px;
    height: 18px;
  }
  #icon-menu {
    display: block;
    padding: 0;
    background: url('../assets/menu_2x.png') center no-repeat;
    background-size: 24px 19px;
    width: 24px;
    height: 19px;
  }
  #welcome {
    background: url('../assets/image-principal-mobile_2x.png') center no-repeat;
    background-size: 100% auto;
  }
}
