.send-request-container .send-request-form .form-control {
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  border-color: #000000;
}
.send-request-container .send-request-form input.form-control,
.send-request-container .send-request-form select.form-control {
  height: 40px;
}
.send-request-container .send-request-form .has-error .form-control {
  border-color: red;
}
.send-request-container .send-request-form .has-warning .form-control {
  border-color: #00BBFD;
}
.send-request-container .send-request-form .form-group.has-success.has-feedback > .form-control-feedback {
  display: block;
  background: url('../assets/circle-check-green.png') center no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  top: 35px;
  right: 25px;
}
.send-request-container .send-request-form .form-group.has-error.has-feedback > .form-control-feedback {
  display: block;
  background: url('../assets/circle-error.png') center no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  top: 35px;
  right: 25px;
}
.send-request-container .send-request-form .form-group.has-warning.has-feedback > .form-control-feedback {
  display: block;
  background: url('../assets/circle-check-blue.png') center no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  top: 35px;
  right: 25px;
}
.send-request-container .row {
  margin: auto -15px;
}
.send-request-container .row .dropzone {
  height: 40px;
  border: 1px dashed #9FABBB;
  color: #9FABBB;
  margin: 0 15px;
}
.send-request-container .row .dropzone .dz-container {
  padding: 0 5px;
  margin-bottom: 30px;
}
.send-request-container .row .dropzone .dz-container .dz-message {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  padding-left: 5px;
}
.send-request-container .row .dropzone .dz-container .dz-icon {
  display: inline-block;
  background: url('../assets/anexar.png') center no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.send-request-container .row button {
  margin: 20px 15px;
  padding: 10px 40px;
  border: 0;
  background-color: #00BBFD;
  color: #FFFFFF;
}
